div#main {
	margin: auto auto;
	max-width: 60%;
	font-family: "Segoe UI"; #"calibri"; #"georgia";
}
img#photo {
    border-radius: 50%;
	margin-top: 20px;
}
div#visitmap {
	margin: auto auto;
	max-width: 10%;
	font-family: "Segoe UI"; #"calibri"; #"georgia";
}

#rcorners1 {
	border-radius: 5px;
}
a:link, a:visited {
  text-decoration: none; 
  color: #0068AD;
}
a:hover {
  text-decoration: none; 
  color: #0048EE;
}
.entry {
	padding: 10px 15px;
}
.grey-back {
	background-color: #eee;
}

.news-block {
    background-color: #eee; /* Bright red background */
    color: black; /* White text for contrast */
    padding: 15px; /* Some padding around the content */
    margin-bottom: 20px; /* Space between the news block and the next section */
}

.news-block h2 {
    margin-top: 0; /* Remove the top margin of the h2 for better spacing */
}

.news-block ul {
    list-style-type: none; /* Remove the default list bullet */
    padding: 0; /* Remove the default padding */
}

.news-block ul li {
    margin-bottom: 10px; /* Space between news items */
}

@keyframes glow {
    0% { box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
    50% { box-shadow: 0 0 20px rgba(255, 0, 0, 0.6); }
    100% { box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
}

.card-highlight {
    animation: glow 2s ease-in-out infinite;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .column {
    flex: 1; /* Each column takes up equal space */
    margin: 10px; /* Adds some space between the columns */
  }
  .column ul {
    list-style-type: none; /* Removes default list styling */
    padding: 0; /* Removes default padding */
  }
  .column h2 {
    text-align: center; /* Centers the column headers */
  }